# Para SDK Web3 Authentication API Key (Beta)
NEXT_PUBLIC_PARA_API_KEY=beta_304e92ef208bef18c1122e3f3eb6a177

# AquaMon Smart Contract on Monad Testnet
NEXT_PUBLIC_CONTRACT_ADDRESS=0xCce77B7F4b4D0628c4da66F7Aa9e2a78e598F9E1

# AquaMon Smart Contract on Monad Mainnet
NEXT_PUBLIC_MAINNET_CONTRACT_ADDRESS=0x89afB0868412194E65834b9029918Cfb4c6aB177

# Monad Public RPC Endpoint
NEXT_PUBLIC_MONAD_RPC_URL=https://testnet-rpc.monad.xyz

# AquaMon Gasless Relayer Gateway URL (Local or Pinggy Tunnel)
NEXT_PUBLIC_RELAYER_URL=http://localhost:3000
