# Relayer Server Port
PORT=3000

# Monad Network RPC Endpoint
MONAD_RPC_URL=https://testnet-rpc.monad.xyz

# Relayer EVM Private Key (Sponsors resident telemetry gas fees on Monad)
PRIVATE_KEY=your_relayer_private_key_here

# AquaMon Smart Contract Address on Monad
CONTRACT_ADDRESS=0xCce77B7F4b4D0628c4da66F7Aa9e2a78e598F9E1
